

.logo {
    height: 48px;
    filter: drop-shadow(0px 0px 10px rgb(0 0 30 / 0.2));
}

.floating {
            position: relative;
            animation: float 5s ease-in-out infinite;
        }

.floating2 {
            position: relative;
            animation: float2 3s ease-in-out infinite;
        }

        @keyframes float {
            0% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(8px);
            }

            100% {
                transform: translateY(0);
            }
        }

        @keyframes float2 {
            0% {
                transform: rotate(2deg);
            }

            50% {
                transform: rotate(-2deg);
            }

            100% {
                transform: rotate(2deg);
            }
        }